a{
    text-decoration: none;
}
body{
    background: cyan;
    font-family: 'Segoe Script Regular';
}
.brand h1{
    color: green;
    font-size: 50px;
    text-align: center;
    margin: 0%;
    padding: 0%;
    
}
.linkpage{
    background:indigo;
    font-size: x-large;
    padding: 5px;
    margin: 0 5%;
    border-radius: 10%;
}
.linkpage a{
    color: white;
    margin: 1%;
}
.linkpage a:hover{
    color: indianred;
}
.container{
    margin:0 5%;
    color: red;
}